body{
  margin:0;
  padding:0;
}

canvas{
  z-index: -1;
}

#title{
  position: absolute;
  top: 0%;
  left: 15%;
  width: 30%;
  font-family: Trebuchet MS;
  font-size: 56px;
  color: black;
  text-align: right;
  padding: 0;
  margin:0;
}

#artist{
  font-family: Trebuchet MS;
  color: black;
}

.selected_link{
  font-style: italic;
}

#audio, #video, #info{
  position: relative;
  float: left;
  font-family: Trebuchet MS;
  color: black;
  top: 10%;
}

#audio{
  left: 27%;
}

#video{
  left: 34%;
}

#info{
  left: 42%;
}

a{
  text-decoration: none;
}

.subtitle{
  position:absolute;
  font-family: Trebuchet MS;
  text-align: center;
  width: 30%;
}

#middle{
  top: 22%;
  left:35%;
}

#left{
  top: 27%;
  left:10%;
}

#right{
  top: 27%;
  right: 10%;
}
