@font-face {
  font-family: Track;
  src: url(../fonts/Track.otf);
}

@font-face {
  font-family: Track-Italic;
  src: url(../fonts/TrackItalic.ttf);
}

body{
  margin:0;
  padding:0;
}

canvas{
  /*z-index: -1;*/
}

#title{
  position: relative;
  float:left;
  left: 2%;
  height: 60px;
  font-family: Track;
  font-size: 60px;
  color: black;
  text-align: left;
  margin-left: 1%;
  margin-top: 2%;

  display: table-cell;
vertical-align: middle;
}

#first{
  position: relative;
  float: left;
  background-color: black;
  width: 30%;
  height: 45px;
  margin-left: 3%;
  margin-top: 2%;
}

#artist{
  font-family: Trebuchet MS;
  color: black;
}

.selected_link{
  font-style: italic;
}

.hidden{
  display: none;
}

#audio, #video, #info{
  position: relative;
  float: left;
  font-family: Trebuchet MS;
  color: black;
  top: 10%;
}

#audio{
  left: 2%;
}

#video{
  left: 6%;
}

#info{
  left: 11%;
}

a{
  text-decoration: none;
}

.subtitle{
  position:absolute;
  font-family: Trebuchet MS;
  text-align: center;
  width: 30%;
}

#middle{
  top: 22%;
  left:35%;
}

#left{
  top: 27%;
  left:10%;
}

#right{
  top: 27%;
  right: 10%;
}
